*.a
*.dll
*.dylib
*.elf
*.ko
*.l[ao]
*.lib
*.o
*.obj
*.slo
*.so
*.so.*
*.sw?
.gh-pages
.libs
.tidyall.d
MYMETA.json
MYMETA.yml
Makefile
_site
blib
local
perltidy.LOG
pm_to_blib
t/SMOKE
t/TEST
t/conf/apache_test_config.pm
t/conf/extra.conf
t/conf/httpd.conf
t/conf/mime.types
t/htdocs/index.html
t/logs
/autom4te*.cache
/config.log
/config.status
/configure
/Makefile.in
/aclocal.m4
/compile
/install-sh
/missing
/src/Makefile.in
